<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devboriselkin.MyHungryCat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".MenuFolder.MainActivity"  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Levels.Level_one" android:screenOrientation="portrait" />
        <activity android:name=".Levels.Level_three" android:screenOrientation="portrait"  />
        <activity android:name=".MenuFolder.LevelsMenu" android:screenOrientation="portrait"  />
        <activity android:name=".Levels.Level_four" android:screenOrientation="portrait"  />
        <activity android:name=".Levels.Level_five" android:screenOrientation="portrait"  />
        <activity android:name=".Levels.Level_two" android:screenOrientation="portrait"  />
        <activity android:name=".Levels.Level_9_test_activity" android:screenOrientation="portrait"  />
        <activity android:name=".Levels.Level_six" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Levels.BonusLevelOne"  android:screenOrientation="portrait" ></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>